<h1>[Questions List Item Types]</h1>

<div ng-repeat="question in vm.questions">
  <h3>{{question.qText}}</h3>
  <div ng-repeat="option in question.qOptions">
    <ul dnd-list="option"
        dnd-allowed-types="">
      <li ng-repeat="choice in option"
          dnd-draggable="choice"
          dnd-moved="question.qOptions.splice($index, 1)"
          dnd-effect-allowed="move"
          dnd-selected="vm.selected = choice"
          ng-class="{'selected': vm.selected === choice}"
      >
        {{choice}}
      </li>
    </ul>
  </div>
  <p>The correct answer is: {{question.qAnswer}}</p>
</div>